<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/zacharysturman/Desktop/PORTFOLIO/Technology/The-2nd-Best-Obsidian-Collection/FolioAssets</key>
	<data>
	Ym9va2gDAAAAAAUQQAAAAKSB6isuZi2GiZ3agAKu4Ua9gauybQDrSuz4dxBIBffpAAAA
	AAAAAAAAAAAAAAAAAFQCAAAEAAAAAwMAAAAIACgFAAAAAQEAAFVzZXJzAAAADgAAAAEB
	AAB6YWNoYXJ5c3R1cm1hbgAABwAAAAEBAABEZXNrdG9wAAkAAAABAQAAUE9SVEZPTElP
	AAAACgAAAAEBAABUZWNobm9sb2d5AAAgAAAAAQEAAFRoZS0ybmQtQmVzdC1PYnNpZGlh
	bi1Db2xsZWN0aW9uCwAAAAEBAABGb2xpb0Fzc2V0cwAcAAAAAQYAABAAAAAgAAAAOAAA
	AEgAAABcAAAAcAAAAJgAAAAIAAAABAMAAKtBAAAAAAAACAAAAAQDAACpZwAAAAAAAAgA
	AAAEAwAAwLndCAAAAAAIAAAABAMAAOsdKQ0AAAAACAAAAAQDAAAlgjANAAAAAAgAAAAE
	AwAApZE2DQAAAAAIAAAABAMAAPMcwg8AAAAAHAAAAAEGAADQAAAA4AAAAPAAAAAAAQAA
	EAEAACABAAAwAQAACAAAAAAEAABBx3F2jwPI3BgAAAABAgAAAgAAAAAAAAAPAAAAAAAA
	AAAAAAAAAAAACAAAAAQDAAAFAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTov
	Ly8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAFChG3MAAAAIAAAAAAQAAEHHaPt0
	AAAAJAAAAAEBAABEOUZBNTI3MS05QjhCLTQ3MjQtQjNBMS05RERGMjVFMzBFRkUYAAAA
	AQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAA
	AP7///8BAAAAAAAAABAAAAAEEAAArAAAAAAAAAAFEAAAQAEAAAAAAAAQEAAAdAEAAAAA
	AABAEAAAZAEAAAAAAAACIAAAQAIAAAAAAAAFIAAAsAEAAAAAAAAQIAAAwAEAAAAAAAAR
	IAAA9AEAAAAAAAASIAAA1AEAAAAAAAATIAAA5AEAAAAAAAAgIAAAIAIAAAAAAAAwIAAA
	TAIAAAAAAAABwAAAlAEAAAAAAAARwAAAIAAAAAAAAAASwAAApAEAAAAAAAAQ0AAABAAA
	AAAAAAA=
	</data>
	<key>/Users/zacharysturman/Downloads/PORTFOLIO/Technology/The-2nd-Best-Obsidian-Collection/FolioAssets</key>
	<data>
	Ym9va2wDAAAAAAUQQAAAAFzABGDZUukfQSqRrKjr+wmU0jmtCd2NjBlGSnl9OG9qAAAA
	AAAAAAAAAAAAAAAAAFgCAAAEAAAAAwMAAAAIACgFAAAAAQEAAFVzZXJzAAAADgAAAAEB
	AAB6YWNoYXJ5c3R1cm1hbgAACQAAAAEBAABEb3dubG9hZHMAAAAJAAAAAQEAAFBPUlRG
	T0xJTwAAAAoAAAABAQAAVGVjaG5vbG9neQAAIAAAAAEBAABUaGUtMm5kLUJlc3QtT2Jz
	aWRpYW4tQ29sbGVjdGlvbgsAAAABAQAARm9saW9Bc3NldHMAHAAAAAEGAAAQAAAAIAAA
	ADgAAABMAAAAYAAAAHQAAACcAAAACAAAAAQDAACrQQAAAAAAAAgAAAAEAwAAqWcAAAAA
	AAAIAAAABAMAANxnAAAAAAAACAAAAAQDAADhFNYQAAAAAAgAAAAEAwAAEyjWEAAAAAAI
	AAAABAMAAKWRNg0AAAAACAAAAAQDAADzHMIPAAAAABwAAAABBgAA1AAAAOQAAAD0AAAA
	BAEAABQBAAAkAQAANAEAAAgAAAAABAAAQcdxdo8DyNwYAAAAAQIAAAIAAAAAAAAADwAA
	AAAAAAAAAAAAAAAAAAgAAAAEAwAABQAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZp
	bGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAACAAAAAAEAABB
	x3Zp9gAAACQAAAABAQAARDlGQTUyNzEtOUI4Qi00NzI0LUIzQTEtOURERjI1RTMwRUZF
	GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUA
	AMwAAAD+////AQAAAAAAAAAQAAAABBAAALAAAAAAAAAABRAAAEQBAAAAAAAAEBAAAHgB
	AAAAAAAAQBAAAGgBAAAAAAAAAiAAAEQCAAAAAAAABSAAALQBAAAAAAAAECAAAMQBAAAA
	AAAAESAAAPgBAAAAAAAAEiAAANgBAAAAAAAAEyAAAOgBAAAAAAAAICAAACQCAAAAAAAA
	MCAAAFACAAAAAAAAAcAAAJgBAAAAAAAAEcAAACAAAAAAAAAAEsAAAKgBAAAAAAAAENAA
	AAQAAAAAAAAA
	</data>
</dict>
</plist>
